global-include *.txt
global-include *.c
global-include *.cu
global-include *.cuh
global-include *.cpp
global-include *.h
global-include *.sh
global-include *.pkl
recursive-include doc
include bin/aesara-cache
prune .jenkins
prune .travis
include versioneer.py
include aesara/_version.py
